.container{
    margin : 0 40px;
}

body
{
    color:rgb(39, 38, 38)
}

h4
{
    color: #d93025;
    text-indent: 45px;
    font-weight: 200;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
hr
{
   color: rgb(173, 173, 173) 
}
h5
{
    font-size:15px !important ;
    font-weight: 500;
    color: gray;
}
.main-header
{
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid
{
    display: grid;
    grid-template-columns: 200px 700px auto;
    column-gap: 10px;
    row-gap:10px;
    margin-left: 40px !important;
}

label
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.second-label
{
    font-size:11px;
    color:rgb(85, 85, 85)
}
.inp
{
    width: 100%;
}
.num-inp
{
    width: 41.5%;
}
.heading
{
    grid-column-start: 1;
    grid-column-end: 4;
}
button[type="submit"]
{    
    padding:7px;
    border-radius: 5px;
    line-height: 100%;
    margin-left:54.5%;
    margin-top: 1%;
    margin-bottom: 10px;
    height: 30px;
}
.img
{
    height: 24px;
    margin-top:23px;
    margin-left: 20px;
}
select
{
    background-color: #f5f5f5;
    font-weight: 450;
    text-indent: 4px;

}
